body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    overflow: hidden;
    /* -webkit-user-select: none; */
}


.tela {
    background-color: rgb(58, 58, 58);
    padding: 100px;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.mapa {
    background-color: rgb(85, 46, 46);
    width: 1500px;
    height: 1500px;
    border: 10px solid red;
}

.seta {
    display: block;
    /* border-top: 10px solid white; */
    border-left: 20px solid white;
    /* border-right: 10px solid white; */
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 100;
    /* transform: translate(-50%, -50%); */

}

.interface {
position: fixed;
top: 0px;
left: 0;
width: 100px;
height: 100%;
}


.globulo_branco {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid white ;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.boca {
    width: 0px;
    height: 0px;
    border:50px solid white;
    border-width: 50px;
    border-top: 50px solid transparent;
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: 30%;
}

#b1 {
    top: 40%;
    left: 60%;
}

#v1 {
    top: 60%;
    left: 70%;
}

#v2 {
    top: 50%;
    left: 35%;
}

#v3 {
    top: 30%;
    left: 50%;
}

.virus {
    position: absolute;
    background-color: purple;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}


.virus_coroa {
    position: absolute;
    border-radius: 50%;
    border: 10px dashed rgb(130, 139, 0);
    width: 100%;
    height: 100%;
}

.globulo_branco .virus_coroa {
    width: 120%;
    height: 120%;
    border-color: white;
}


.bacteria {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.315);
    width: 250px;
    height: 100px;
    border: 10px solid rgb(224, 224, 224);
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: rotate(180deg);
    padding: 10px;
}

.plasma {
    width: 80%;
    height: 30%;
    background-color: rgb(128, 128, 128);
    border-radius: 7px;
    z-index: -10;
}
