body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    /* overflow: hidden; */
  }

  
  .tela {
    background-color: rgb(58, 58, 58);
    padding: 100px;
    width: fit-content;
    height: fit-content;
    position: relative;
  }

  .mapa {
    background-color: rgb(85, 46, 46);
    width: 1500px;
    height: 1500px;
    border: 10px solid red;
  }

  .seta {
    display: block;
    /* border-top: 10px solid white; */
    border-left: 20px solid white;
    /* border-right: 10px solid white; */
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 100;
    /* transform: translate(-50%, -50%); */
    
}


#globolo_branco {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#b1 {
    top: 40%;
    left: 60%;
}

#v1 {
    top: 60%;
    left: 70%;
}

#v2 {
    top: 50%;
    left: 35%;
}

#v3 {
    top: 30%;
    left: 50%;
}

.virus {
    position: absolute;
}

.virus_coroa {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px dashed rgb(130, 139, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.virus_cor {
    background-color: purple;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.bacteria {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.315);
    width: 100px;
    height: 250px;
    border: 10px solid rgb(224, 224, 224);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: rotate(15deg);
}

